<div class="container">
  <div class="row">

      <div class="col-md-3"></div>

      <div class="col-md-6">
          <div class="card p-5 shadow-effect bg-secondary-theme">
              <div class="card-body">
                 
                  <div class="text-center">
                      <h3 class="text-theme-primary"> Register </h3>
                      <p >Please enter your email address to request a password reset.</p>

                  </div>
        <div class="formGroup form-group">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup form-group">
          <input type="submit" class="btn btn-info btn-block btn-theme" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <h5 style="display:inline;float: left; margin-top: 25px;">Already have an Account? </h5>
      <a [routerLink]='["/login"]'><button class="btn btn-info btn-block btn-theme" style="width:40%;display: inline;float: right; margin-right: 15px;margin-top: -50px;"> Back to Login </button></a>

    </div>
  </div>