<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-theme-primary">Add New Post</h3>
            <p class="mb-5">You can add your new post here</p>

        </div>
    </div>
    <form [formGroup]= 'postForm'>
        <div class="row">
            <div class="col-md-7">
                <div class="card shadow-effect">
                    <div class="card-body">

                        <div class="form-group">
                            <label> Title </label>
                            <input 
                            type="text" 
                            class="form-control" 
                            (keyup) = "onTitleChanged($event)" 
                            formControlName="title"
                            [ngClass]="{'is-invalid': fc['title'].touched && fc['title'].invalid}"
                            >
                            <div *ngIf = "fc['title'].errors?.['required']">
                                <div class="alert alert-danger" *ngIf='fc["title"].touched && fc["title"].invalid' >Title is required.</div>
                            </div>
                            <div *ngIf = "fc['title'].errors?.['minlength']">
                                <div class="alert alert-danger" *ngIf='fc["title"].touched && fc["title"].invalid' >Title must be atleast 10 charactors long.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label> Permalink </label>
                            <input type="text" class="form-control" [(ngModel)] = 'permalink' name="permalink"  formControlName="permalink">
                        </div>
                        <div class="form-group">
                            <label> Except </label>
                            <textarea  cols="30" rows="10" class="form-control" formControlName = "Except"></textarea>
                        </div>

                        
                    </div>

                </div>

            </div>
            <div class="col-md-5">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">please Select a post category </label>
                            <select class="form-control" formControlName="category">
                                <option value="" disabled> Please select a category</option>
                                <option *ngFor="let category of categories" value=""> {{ category?.data?.category }}</option>
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label for=""> Post Image</label>
                            <img [src]="imgSrc" class="form-control img-fluid img-preview">
                            <input type="file" class="form-control" accept="image/*" (change)="showPreview($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row mt-3 mb-5">
            <div class="col-md-12">
                <div class="card shadow-effect">
                    <div class="card-body">
                        <div class="form-group">
                            <label for=""> Content </label>
                            <angular-editor placeholder = "Add your Content here" formControlName="content"></angular-editor>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-center mb-5">
                <button class="btn btn-info bg-theme"> Save Post</button>
                <button class="btn btn-warning ml-3" routerLink = '/posts'> Back to Post</button>
            </div>

        </div>
    </form>

        
    
</div>