<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow bg-secondary-theme">
                <div class="card-body text-canter">
                    <h3 class="text-theme-center"> All Blog posts</h3>
                    <p> From here you can manage your blog posts.</p>

                    <button class="btn btn-info bg-theme" routerLink='/posts/new'> Add New Posts</button>
                    <button class="btn btn-info bg-theme ml-2" routerLink ='/'> Back to Dashboard</button>

                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">

                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th> No </th>
                                <th> Post Image </th>
                                <th> Title </th>
                                <th> Excerpt</th>
                                <th> Category</th>
                                <th> Date </th>
                                <th> Actions </th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr   *ngFor = "let post of postArray; let i = index ">
                                <td width='10'> {{ i+1 }}</td>
                                <td width='200'> <img src ="{{ post.data.postImgPath }}" class="img img-fluid"> </td>
                                <td width='200'> {{ post.data.title }}</td>
                                <td width='300'>{{ post.data.excerpt }}</td>
                                <td> {{ post.data.category.category }}</td>
                                <td> {{ post.data.createdAt }}</td>
                                <td> </td>

                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>