<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow bg-secondary-theme">
                <div class="card-body text-canter">
                    <h3 class="text-theme-center"> All Blog posts</h3>
                    <p> From here you can manage your blog posts.</p>

                    <button class="btn btn-info bg-theme" routerLink='/posts/new'> Add New Posts</button>
                    <button class="btn btn-info bg-theme ml-2" routerLink ='/'> Back to Dashboard</button>

                </div>

            </div>

        </div>
    </div>
</div>